*{
    margin: 0;
    padding: 0;
    background-color: #eda1e9;
}
.container{
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
}

.container *{
    
}
/* 
#container div {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    background-color: #eda1e9;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

#container p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-color: #d114c8;
    text-align: center;
    width: 100%;
    padding: 5px;
} */

.digit{
    border: 2px solid white;
    font-size: 4.5rem;
    padding: 20px;
    border-radius: 5px;
}

.secDigit{
    font-size: 2.8rem;
}

.txt{
    font-size: 2rem;
}

#time{
    /* border: 2px solid red; */
    padding: 20px;
}

#buttons{
    display: flex;
        /* border: 2px solid red; */
        margin-top: 20px;
        width: 550px;
        /* justify-content: ; */
        gap: 70px;
}

.btn{

    width: 100px;
    gap: 20px;
    text-align: center;
    height: 40px;
    background-color: #d114c8;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}